.weather-data {
	width: 400px;
	height: 100%;
	background: url(../../public/assets/bg-blurry.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

	@include screen-x(900px) {
		width: 100%;
		height: auto;
		flex-grow: 1;
		overflow: auto;
	}

	&__box {
		padding: 30px;
		@include screen-x(1200px) {
			padding: 30px 10px;
		}
		@include screen-x(900px) {
			padding: 10px;
		}
	}

	&__location {
		@include flex-row(space-between, center);
		position: relative;
		padding: 0 10px;
		.input {
			color: white;
			font-size: 1em;
			border: none;
			border-bottom: 3px white solid;
			background: transparent;
			padding: 20px 30px;
			padding-right: 45px;
			flex: 1;
			&::placeholder {
				color: white;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: white;
			}

			&::-ms-input-placeholder {
				color: white;
			}
		}
		.search {
			@include transition;
			font-size: 2em;
			color: white;
			border: none;
			background: transparent;
			cursor: pointer;
			position: absolute;
			right: 0;
		}
		.location-icon {
			position: absolute;
			left: 0;
			color: white;
			font-size: 1.3em;
		}
	}

	&__suggestion {
		list-style-type: none;
		padding: 0;
		position: absolute;
		top: 100%;
		margin: auto;
		width: calc(100% - 20px);
		z-index: 2;
		overflow: hidden;
		height: 300px;
		overflow: auto;
		&-item {
			@include transition;
			padding: 10px;
			background: white;
			color: rgb(60, 60, 60);
			border-bottom: 1px rgb(140, 140, 140) solid;
			cursor: pointer;
			&:hover {
				color: black;
				background: rgb(245, 245, 245);
			}
		}
	}

	&__group {
		@include screen-x(900px) {
			@include flex-row(space-between, center);
		}
		@include screen-x(700px) {
			@include flex-col(initial, initial);
		}
	}

	&__data {
		margin-top: 10px;
		padding: 10px;
		@include screen-x(900px) {
			width: 45%;
		}
		@include screen-x(700px) {
			width: calc(100% - 20px);
		}
		.list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: auto;
			grid-gap: 20px;
			margin-top: 10px;
			@include screen-x(1200px) {
				grid-gap: 10px;
			}
			@include screen-x(900px) {
				grid-gap: 20px;
			}
		}
		.title {
			color: white;
			font-size: 1.4em;
			pointer-events: none;
		}
		.caption {
			display: none;
		}
		.data {
			@include transition;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 5px;
			background: white;
			text-align: center;
			color: rgb(60, 60, 60);
			cursor: pointer;
			&:hover {
				background: #282828;
				color: white;
				.value {
					display: none;
				}
				.caption {
					display: block;
				}
			}
		}
		.icon {
			font-size: 1.4em;
		}
		.caption,
		.value {
			padding-top: 10px;
			font-size: 0.9em;
			pointer-events: none;
		}
	}

	&__separator {
		width: 100%;
		height: 3px;
		background: white;
		margin-top: 20px;
	}
}
